.st{
color: rgb(108, 89, 158);
}

form{
    background-color: rgb(108, 89, 158);
    color: white;
    margin: 2%;
    border-radius: 4px;
    padding: 10px;
    
}
.butt{
margin-top: 50px;
margin-left: 250px;
}
table{
    margin-left:100px;
    margin-top: -85px;
}